<h2>LTV Log checker</h2>


<form class="form-horizontal" role="form" action="/process?form=newsletter" method="POST">
    <div class="form-group">
        <label for="rid" class="col-sm-2 control-label">Rid</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="rid" name="rid">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Go</button>
        </div>
    </div>
</form>